.idea-list {
  &__item {
    $component: &;
    grid-template-rows: 47px 35px 1fr auto 70px;

    &-more {
      &:after {
        background-color: #fff;
        mask: url('../../assets/icons/arrow_short-fat.svg') no-repeat 50% 50%;
        display: inline-block;
        content: "";
        width: 12px;
        height: 12px;
        transition: transform .5s;
        transform: translateX(7px);
        mask-size: cover;
      }
    }

    &:hover {
      #{$component}-more {
        &:after {
          transform: translateX(10px);
        }
      }
    }

    &-footer {
      height: 77px;
    }
  }
}
